.controlBar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-content: center;
    align-items: center;
    padding: 0 15px;
    font-family: "Roboto", sans-serif;
    opacity: 0.8;
    font-weight: 200;
}
.controlBar > div, .controlBar > div> button, .controlBar > button{
    font-size: 18px;
}

.activeFilter{
    border: 1px solid #E9DAD9
}